.appcontainer {
    /*height: 3508px;*/
    width: 1000px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}
top-comp .cvdp_c{
    width: 150px;
    height: 150px;
    padding: 20px 20px 20px 20px;
}
top-comp .cvname_c{
    width: auto;
}
top-comp .topcomp_c {
    height: 190px;
    background: linear-gradient(to right, #00537E, #3AA17E);
    display : flex;
    align-items: center;
}
top-comp .cvname {
    font-size: 60px;
    color : white;
}
top-comp .personalinfobar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
top-comp .famobile , top-comp  .faenvlp, top-comp  .faloc , top-comp  .fadob{
    font-size: 22px;;
    color: #244F75;
}
top-comp .famobile_c, top-comp  .faenvlp_c, top-comp  .faloc_c, top-comp  .fadob_c {
    margin: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
}
top-comp .famobiletxt,top-comp .faenvlptxt, top-comp .faloctxt, top-comp .fadobtxt {
    margin-left: 10px;
    color: #5B5B5B;
}
top-comp .abtmeeee {
    width: 130px;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 0 0 -1px;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 22px;
    display: inline-block;
}
top-comp .abtme_text {
    border: 1px solid grey;
    white-space: pre-line;
}

mid-comp .midblock {
    display: flex;
}
mid-comp .midleft {
    flex-basis: 60%;
    color: #5B5B5B;
}
mid-comp .midright {
    flex-basis: 40%;
}

.abtmetab, .workexptab, .priskilltab, .secskilltab, .edutab{
    border-bottom: 2px solid orange;
    /*margin-bottom: -1px;*/
    padding: 15px 5px 5px 20px;
    font-size: 20px;
    color: #007DB8;
    font-weight: bold;
}
.abtmetab_c, .work_c, .priskill_c, .secskill_c, .edu_c {
    margin: 10px;
}
.abtmetabval, .workexptabval, .priskilltabval, .secskilltabval, .edutabval {
    border: 1px solid #3311112f;
    padding: 20px;

}
work-exp .workexptab {
    display: flex;
    align-items: baseline;
}
work-exp .worktittle{
    flex-basis: 70%;
}
work-exp .workyrs {
    color: #fc6358;
    font-size: 15px;
}
.content {
    white-space: pre-line;
    color: #5B5B5B;
}
mid-comp .workcontent{
    margin: 10px 0px 69px 0px;
}

work-exp .job-title {
    font-size: 18px;
    font-weight: bold;
    color: #5B5B5B;
    font-variant: small-caps;
    padding-bottom: 2px;
}
work-exp .work-exp-item {
    padding-bottom: 60px;
    margin: 5px 0px;
}
work-exp .period {
    font-size: 14px;
    font-style: oblique;
    color: #027878;
    padding-bottom: 10px;
}
work-exp .company-title {
    font-size: 17px;
    color: #f37338;
    padding-bottom: 3px;
}
tech-exp .skillname {
    max-width: 200px;
    margin-bottom: 20px;
    color: #5B5B5B;
}
tech-exp .rating-stars {
    color: #F8BB44;
}
tech-exp .rating-line{
    display: flex;
    margin: 10px auto;
}
tech-exp .rating-title {
    flex-basis: 70%;
    color: #5B5B5B;
}
tech-exp .edutabval{
    color: #5B5B5B;
}
.fa {
    padding-left: 4px;
}
footer-comp .finishbar {
    height: 40px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom right, #00537E, #3AA17E);
}
footer-comp .finishbartxt {
    font-style: italic;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.8);
    
}

/*    color: #244F75;
    color: #60BFBF;
    color: #00bcd4;
    color: #F8BB44;
    color: #ffeb3b;
    color: #F24B4B;
    color: #8C4B7E;
    color: #9e9e9e;
    #60BFBF*/