<div class="priskill_c">
    <div class="priskilltab">Primary Skills</div>
    <div class="priskilltabval">
        <div class="rating-line" ng-repeat="ratingObj in techexpcon.skillsPriArr" key={{$index}}>
            <div class="rating-title">{{ratingObj.title}}</div>
            <div class="rating-stars">
                <span ng-repeat="starclass in techexpcon.genStars(ratingObj.rating) track by $index" class={{starclass}}>
            </div>
        </div>
    </div>
</div>

<div class="secskill_c">
    <div class="secskilltab">Secondry Skills</div>
    <div class="secskilltabval">
        <div class="skillname" ng-repeat="secskill in techexpcon.skillsSecArr">{{secskill}}</div>
    </div>
</div>
<div class="edu_c">
        <div class="edutab">Education</div>
        <div class="edutabval">{{techexpcon.education}}</div>
    </div>